{% extends 'base.twig' %}

{% block title %}Entreprises - TheGoodPlan{% endblock %}

{% block content %}
    <h1>Liste des entreprises</h1>
    <a href="?uri=/create-company">Ajouter une entreprise</a>
    <ul>
        {% for company in companies %}
            <li>
                {{ company.NAME }} - {{ company.MAIL }}
                
                <!-- Lien GET pour la modification -->
                <a href="?uri=/edit-company&id={{ company.ID }}" style="color: blue;">Modifier</a>
                
                <!-- Formulaire POST pour la suppression -->
                <form action="?uri=/delete-company" method="POST" style="display: inline;">
                    <input type="hidden" name="ID" value="{{ company.ID }}">
                    <button type="submit" style="color: red; background: none; border: none; cursor: pointer;">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
