{% extends 'base.twig' %}

{% block title %}Création de l'offre - TheGoodPlan{% endblock %}

{% block content %}
    <main class="cadre">
        <h1>Création de l’offre</h1>
        <form method="POST" action="?uri=/create-offer">
            <label for="title">Titre de l'offre</label>
            <input type="text" id="title" name="TITLE" required>

            <label for="release_date">Date de publication</label>
            <input type="date" id="release_date" name="RELEASE_DATE" required>

            <label for="city">Ville</label>
            <input type="text" id="city" name="CITY" required>

            <label for="grade">Diplôme requis</label>
            <input type="text" id="grade" name="GRADE" required>

            <label for="begin_date">Date de début</label>
            <input type="date" id="begin_date" name="BEGIN_DATE" required>

            <label for="duration">Durée du stage (mois)</label>
            <input type="number" id="duration" name="DURATION" min="1" max="24" required>

            <label for="renumber">Rémunération (€)</label>
            <input type="number" id="renumber" name="RENUMBER">

            <label for="description">Descriptif du stage</label>
            <textarea id="description" name="DESCRIPTION" rows="3" required></textarea>

            <label for="id_company">ID de l'entreprise</label>
            <input type="number" id="id_company" name="ID_COMPANY" required>

            <button type="submit">Enregistrer l’offre</button>
        </form>
    </main>
{% endblock %}
