<header>
  <h1 class="inter-black titre">TheGoodPlan</h1>
  <nav>
      <a class="inter-black navlink" href="/">Accueil</a>
      <a class="inter-medium navlink" href="?uri=/browse">Nos Offres</a>
      <a class="inter-medium navlink" href="?uri=/create-offer">Créer une offre</a>
  </nav>
  
    <div class="session-info" style="display: flex; align-items: center; gap: 10px; color: white;">
      {%if firstname is not null %}
        <h3 class="inter-medium">{{ firstname }}  |</h3>
        {% if id_role == 1 %}
          <h3 class="inter-medium">Étudiant</h3>
        {% elseif id_role == 2 %}
          <h3 class="inter-medium">Pilote</h3>
        {% elseif id_role == 3 %}
          <h3 class="inter-medium">Administrateur</h3>
        {% endif %}
      {% endif %}
      <a href="?uri=/connection">
      <img class="accountIcon" src="/static/accountIcon.png" width="48" />
      </a>
    </div>
</header>
