<header>
  <h1 class="inter-black titre">TheGoodPlan</h1>
  <nav>
      <a class="inter-medium navlink" href="/">Accueil</a>
      <a class="inter-medium navlink" href="?uri=/browseoffers">Nos Offres</a>
      <a class="inter-medium navlink" href="?uri=/browsecompanies">Nos Entreprises</a>
      {%if id_role == 2 or id_role == 3 %}
      <a class="inter-medium navlink" href="?uri=/create-offer">Créer une offre</a>
      <a class="inter-medium navlink" href="?uri=/dashboard">Dashboard</a>
      {% endif %}
  </nav>
    <div class="profile">
      <div class="session-info">
        {%if firstname is not null %}
          <h3 class="inter-medium">{{ firstname }}  |</h3>
          {% if id_role == 1 %}
            <h3 class="inter-medium">Étudiant</h3>
          {% elseif id_role == 2 %}
            <h3 class="inter-medium">Pilote</h3>
          {% elseif id_role == 3 %}
            <h3 class="inter-medium">Administrateur</h3>
          {% endif %}
        {% endif %}
      </div>
      <a href="?uri=/profile">
        <img class="accountIcon" src="/static/accountIcon.png" width="48" />
      </a>
    </div>
</header>
