<header>
  <h1 class="inter-black titre">TheGoodPlan</h1>
  <nav>
      <a class="inter-black navlink" href="/">Accueil</a>
      <a class="inter-medium navlink" href="?uri=/parcourir">Nos Offres</a>
      <a class="inter-medium navlink" href="?uri=/creation-offre">Créer une offre</a>
  </nav>
  <a href="?uri=/connexion">
      <img class="accountIcon" src="/static/accountIcon.png" width="48" />
  </a>
</header>
