
{% extends 'base.twig' %}

{% block title %}Se Connecter - TheGoodPlan{% endblock %}


{% block content %}
    <main class="cadre">
        <p>Bienvenue, {{ firstname }} !</p>
        <form action="index.php?action=disconnect" method="post">
            <button type="submit">Se déconnecter</button>
        </form>
    </main>
{% endblock %}

